* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    text-align: center;
    color: black;
}

section {
    border: 1px solid black;
    background-color: aliceblue;
    margin: 10px;
}

section>h4 {
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    width: 235px;
    text-align: center;
    font-style: Times;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    padding-top: 10px;
}

section.chicken>h4 {
    background-color: bisque;
}

section.beef>h4 {
    background-color: cadetblue;
    color: beige ;
}

section.sushi>h4 {
    background-color: coral;
}

section>p {
    padding: 40px 15px 10px 15px;
}

.row {
    width: 100%;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
      }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }

    .col-md-12 {
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
    
}